<h1>Hello world</h1>
<!--<app-currency (selected)="setCurrency($event)"></app-currency>

<app-product-list [selectedCurrency]="currentCurrency"></app-product-list>
-->
<app-checkout></app-checkout><input type="text" appNumbersOnly="4">
<!--
<input type="text" [appNumbersOnly]=allowedlength> 

<app-checkout></app-checkout>  
 (selected)="setCurrency($event)
<app-currency></app-currency>
<a routerLink='/'>Home</a>
<a routerLink="/products">Products</a>
<a routerLink="/checkout">Checkout</a>
<router-outlet></router-outlet> -->